/* details.css */
[data-theme="light"] {
    --background-color: white;
    --primary-textcolor: black;
    --toggle-bg: #f0eb9d;
    --toggle-fg: #ffd000;
    --navbar-color:#bb86fc;
    --card-color:aliceblue;
    --temp-color:#f9f9f9;
  }
  
  /* Add styles for the dark theme */
  [data-theme="dark"] {
    --background-color: black;
    --primary-textcolor: white;
    --toggle-bg: #283452;
    --toggle-fg: #00a6ff;
    --navbar-color:gray;
    --card-color:gray;
    --temp-color:gray;
  }
.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.discription {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px; 
}
.poster {
    display: flex;
    width: 100%; /* Make sure the image takes 100% of the container width */
    height: auto; /* Maintain aspect ratio */
  }
.poster-container {
    display: flex;
  width: 200px; /* Set the width of the poster container */
}
.content-center{
   
    text-align: center;
    max-width: 65%;
}
.overview-container {
    padding: 20px; /* Add padding as needed */
    border: 1px solid #ddd; /* Add border styling as needed */
    border-radius: 8px; /* Add border-radius as needed */
    background-color: var(--temp-color); /* Add background color as needed */
    margin-bottom: 20px; /* Add margin as needed */
  }
.poster {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    margin-right: 20px;
}

p {
    font-size: 16px;
    color: var(--primary-textcolor);
}

.details {
    margin-top: 20px;
    color: var(--primary-textcolor);
}

span {
    font-size: 14px;
    padding-right: 10px;
}

.company {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.Production {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px;
}
h1{
    color: teal;
}

@media (max-width: 600px) {
    .content-center{
        display: flex;
        flex-direction: column;
    }
    .discription{
        display: flex;
        flex-direction: column;
    }
}